div.container {
	max-width: 1000px;
	margin: 30px auto;
	text-align: center;
}
section.filters {
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: flex;
	justify-content: right;
	align-items: center;
}
section.filters button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #fff;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	margin-right: 30px;
}
section.filters button:hover {
	opacity: 0.9;
}
